/* Reset de CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
body, html{
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}